body {
    display: flex;
    background-color: black;
}

.container {
    margin: 0 auto;
    text-align: center;
}

.logo {
    margin: 500 auto;
    text-align: center;
}

.accs_wrapper {
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
}

.accs_wrapper ul {
    list-style: none;
    text-decoration: none;
    justify-content: space-between;
    flex-flow: row wrap;
}