body {
    display: flex;
    background-color: black;
}

.container {
    display: flex;
    flex-flow: column wrap;
    margin: auto;
}

.logo {
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    color: #FFFFFF;
    text-align: center;
    font-family: "IBM Plex Sans";
    font-weight: 600;
    margin-bottom: 60px;
}

.accs_wrapper {
    box-sizing: border-box;
    padding: none;
    max-width: 700px;
}

.accs_wrapper ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    text-decoration: none;
}

.accs_wrapper ul li {
    display: flex;
    flex-flow: column wrap;
    box-sizing: border-box;
    max-width: 160px;
}

.acc_img {
    box-sizing: border-box;
    border-radius: 8px;
    max-width: 160px;
    border: 2px solid   transparent;
}

.acc_img:hover {
    transition: 500ms;
    border: 2px solid #FFFFFF;
}

.acc_img:hover+.acc_name {
    transition: 500ms;
    color: #FFFFFF;
}

.frame {
    box-sizing: border-box;
    width: 160px;
    height: 160px;
    background: #1E1E20;
    border-radius: 8px;
    border: 2px solid black;
    display: flex;
}

.frame:hover {
    transition: 500ms;
    border: 2px solid #FFFFFF;
}

.frame:hover+.acc_name {
    transition: 500ms;
    color: #FFFFFF;
}

.add_acc {
    align-self: center;
    margin: auto;
}

.frame:hover>.add_acc path {
    transition: 500ms;
    stroke: #FFFFFF;
}

.acc_name {
    color: #9C9C9C;
    size: 14px;
    text-align: center;
}

.footer_flex {
    text-align: center;
    margin-top: 50px;
}

.config {
    box-sizing: border-box;
    border: 1.5px solid #FFFFFF;
    border-radius: 8px;
    color: #FFFFFF;
    background-color: black;
    min-width: 200px;
    min-height: 50px;
    font-family: "IBM Plex Sans";
    font-weight: 500;
    size: 16px;
}

.config:hover {
    transition: 500ms;
    background-color: #FFFFFF;
    color: black;
}